body {
  margin: 0;
}

.govuk-character-count__message.govuk-error-message {
  /* This font-weight doesn't get overriden in the GDS example */
  font-weight: 700;
}

.hljs-number,
.hljs-tag .hljs-attr {
  color: #00703c;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #003078;
  font-weight: normal;
}

.hljs-string {
  color: #d13118;
}

pre code {
  display: block;
  max-width: 38em;
  margin: 0;
  padding: 20px;
  overflow-x: auto;
  border: 3px solid rgba(0, 0, 0, 0);
  outline: 1px solid #b1b4b6;
  background-color: #f8f8f8;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  margin-bottom: 15px;
}

@media print {
  pre code {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  pre code {
    margin-bottom: 20px;
  }
}

pre code:focus {
  border: 3px solid #0b0c0c;
  outline: 3px solid #fd0;
}
